.bookList_presented_container{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}

.book_presented_cover{
  padding:14%;
  width:161px;
}

@media (min-width: 300px) and (max-width:460px) {
  .home_container{
    background-color:grey;
  }
  .book_presented_cover{
    padding:16%;
  }
}

@media (min-width: 460px) and (max-width:599px) {
  .home_container{
    background-color:orange;
  }
  .book_presented_cover{
    padding:9%;
  }
}

@media (min-width: 599px) and (max-width:849px) {
  .home_container{
    background-color:skyblue;
  }
  .book_presented_cover{
    padding:9%;
  }
}
