.account_comp_container{
  padding-top: 20vh;
  padding-bottom: 40vh;
  text-align:center;
}

.account_container{
  text-align:center;
  padding: 9px;
  font-family: arial;
}

.account_title{
  margin-bottom:10px;
  color:tan;
  font-size: 28px;
}

.account_addBook_textarea{
  width:100%;
  max-width: 500px;
  height:200px;
  border: 1px solid gainsboro;
}

.account_label{
  width:105px;
  display:inline-block;
}

.account_textarea_label{
  width:105px;
  display:block;
}

.account_addbook_divs{
  text-align:left;
  width: 235px;
}

.account_addbook_textarea{
  text-align:left;
  width: 90%;
}

#account_addBook_container{
  border: 1px solid tan;
  border-radius: 5px;
  padding: 20px;
  min-width:260px;
  max-width: 550px;
  margin:auto;
}

.account_addBook_render{
  margin-top:30px;
}

.account_deviation{
  border-bottom:1px solid gainsboro;
  padding:20px;
  width:34%;
  margin:auto;
}

@media (max-width:400px) {
  .account_addbook_textarea{
    display:block;
    width:90%;
  }
}
