.book_cover{
  height: 220px;
  width: 160px;
}

.individualBook_container{
  width:500px;
  padding:10px;
  padding-top:30px;
  border: 1px solid tan;
  border-radius:5px;
  margin:auto;
  /*position: absolute;
  left: 5%;
  width: 85%;*/
}

.individualBook_renderBook{
  margin:auto;
}

.individualBook_description{
  width:95%;
  height:90px;
  border: 0.1px solid gainsboro;
}

.individualBook_input{
  width:80%;
  border: 0.1px solid gainsboro;
  margin-bottom: 5px;
}

.individualBook_renderBook{
  margin-top:20px;
  /*margin:auto;*/
}

.individualBook_btns{
  width:95px;
}
