.footer_container{
  background-color:tan;
  color:grey;
  padding:10px;
  padding-top:20px;
  font-size:10px;
  text-align:center;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.footer_text{
  display:inline-block;
}

.footer_heart{
  margin-left: 3px;
  margin-right: 3px;
}
