.footer_container{
  background-color:tan;
  color:grey;
  padding:10px;
  padding-top:20px;
  font-size:10px;
  text-align:center;
}

.footer_text{
  display:inline-block;
}

.footer_heart{
  margin-left: 3px;
  margin-right: 3px;
}

.footer_link{
  margin-right:5px;
  font-size:13px;
  color:grey;
}

.footer_link:hover{
  cursor:pointer;
}

.footer_link:active{
  color:white;
}
