.nav_top_container{
  background-color:maroon;
  color:white;
  padding:10px;
  position:fixed;
  z-index:2;
  width:100%;
  box-shadow:0 4px 6px -6px #222;
  font-family:arial;
}

.nav_links_search{
  background-color:rgb(100,0,0);
}

.nav_links_container{
  background-color:rgb(156,0,0);
  padding-top: 38px;
  text-align: center;
}

.nav_links{
  font-family:arial;
  border-bottom:1px solid white;
  padding:8px;
  color:tan;
}

.nav_links:hover{
  cursor:pointer;
  color:white;
}

.nav_links:active{
  color:tan;
}

.nav_input{
  width: 68%;
  max-width: 220px;
}

.nav_title{
  margin-left:10%;
  display:inline-block;
  color:white;
}

.nav_title:hover, .nav_wide_links:hover{
  cursor:pointer;
}

.nav_wide_links_container, .nav_top_hamburger, .nav_hamburger, .nav_link_bottom, .nav_links_search{
  display:none;
}

.nav_hamburger, .nav_top_hamburger{
  color:tan;
}

.nav_wide_links{
  color:tan;
}

.nav_wide_links:hover{
  color:white;
}

.nav_container{
  margin-bottom:-1px;
}

.display_block{
  display:block;
  /*display:inline-block;*/
}

.display_inline_block{
  display:inline-block;
}

.display_none{
  display:none;
}

#nav_logIn, #nav_logIn{
  display:inline-block;
}

#nav_inauthetnicated_links{
  display:inline-block;
}



@media (min-width: 0px) and (max-width:454px) {
  .nav_links_container{
    display:block;
  }
  .nav_link_bottom{
    position: absolute;
    width: 100%;
    background-color:rgb(156,0,0);
  }
  .nav_title{
    width:70%;
  }
  .nav_hamburger{
    display:inline-block;
    width:20%;
  }
  .nav_hamburger:hover{
    cursor:pointer;
  }
  .nav_top_search{
    display:none;
  }
  .nav_links_search{
    display:block;
  }
}

@media (min-width: 454px) and (max-width:599px) {
  .nav_top_container{
    background-color:maroon;
    position:fixed;
    z-index:2;
  }
  .nav_top_search{
    display:inline-block;
    width:50%;
  }
  .nav_title{
    width:30%;
  }
  .nav_top_hamburger{
    display:inline-block;
  }
  .nav_top_hamburger:hover{
    cursor:pointer;
  }
  .nav_link_bottom{
    position:absolute;
    width:100%;
    background-color:rgb(156,0,0);
  }
}

@media (min-width: 599px) {
  .nav_top_container{
    background-color:maroon;
  }
  .nav_link_bottom{
    display:none;
  }
  .nav_title{
    width:33%;
    margin-left:10px;
    font-size:26px;
  }
  .nav_top_search{
    display:inline-block;
    width:32%;
    background-color:maroon;
    padding-right:8px;
  }
  .nav_hamburger{
    display:none;
  }
  .nav_input{
    width:129px;
  }
  .nav_top_search{
    width:33%;
    text-align: right;
  }
  .nav_wide_links_container{
    display:inline-block;
    width: 30%;
    background-color: maroon;
    text-align: right;
  }
  .nav_wide_links{
    display: inline-block;
    background-color: maroon;
    padding: 1px;
    font-size: 79%;
    margin-right: 5px;
  }
}
