.nav_top_container{
  background-color:maroon;
  color:white;
  padding:10px;
  position:fixed;
  z-index:2;
  width:100%;
  box-shadow: -10px 6px 6px -6px #222;
  font-family:arial;
}

.nav_links_search{
  background-color:rgb(100,0,0);
  display:none;
}

.nav_links_container{
  background-color:rgb(156,0,0);
  text-align: center;
  display:none;
}

.nav_links{
  font-family:arial;
  border-bottom:1px solid white;
  padding:35px;
  color:tan;
  margin-left: -24px;
  text-align:center;
}

.nav_links:hover{
  cursor:pointer;
  color:white;
}

.nav_links:active{
  color:tan;
}

.nav_input{
  width: 64%;
  max-width: 220px;
}

.nav_title{
  margin-left:10%;
  display:inline-block;
  color:white;
}

.nav_title:hover, .nav_wide_links:hover{
  cursor:pointer;
}

.nav_wide_links_container, .nav_top_hamburger, .nav_hamburger, .nav_link_bottom, .nav_links_search{
  display:none;
}

.nav_hamburger, .nav_top_hamburger{
  color:tan;
}

.nav_wide_links{
  color:tan;
}

.nav_wide_links:hover{
  color:white;
}

.nav_container{
  margin-bottom:-1px;
}

.display_block{
  display:block;
}

.display_inline_block{
  display:inline-block;
}

.hide_search_icon{
  color:maroon;
}

.visibility-hidden{
  visibility:hidden;
}

.display_none{
  display:none;
}

#nav_logIn, #nav_logIn{
  display:inline-block;
}

#nav_inauthetnicated_links{
  display:inline-block;
}

.nav_search_icon{
  display:inline-block;
  padding: 0 20px 0 0;
  cursor:pointer;
}

.nav_top_search_toggle{
  /*display: none;*/
  width: 100%;
  padding: 10px 10px 2px 0;
  margin-top: 10px;
  margin-left: -18px;
  text-align: center;
  border-top: 1px solid black;
  background-color: maroon;
}

.nav_input_toggle{
  width:58%;
}

.nav_close_search_toggle{
  padding-right:20px;
  background-color:maroon;
  color:grey;
}

.nav_close_search_toggle:hover{
  color:white;
  cursor:pointer;
}



@media (min-width: 0px) and (max-width:454px) {
  .nav_links_container{
    display:block;
  }
  .nav_link_bottom{
    position: absolute;
    width: 100%;
    background-color:rgb(156,0,0);
    margin-left:-10px;
    margin-top: 10px;
  }
  .nav_title{
    width:63%;
  }
  .nav_hamburger{
    display:inline-block;
    width:10%;
  }
  .nav_hamburger:hover{
    cursor:pointer;
  }
  .nav_top_search{
    display:none;
  }
  .nav_links_search{
    display:none;
    margin-left: -18px;
    width:100%;
  }
}

@media (min-width: 454px) and (max-width:599px) {
  .nav_top_container{
    background-color:maroon;
    position:fixed;
    z-index:2;
  }
  .nav_search_icon, .nav_top_search_toggle{
    display:none;
  }
  .nav_top_search{
    display:inline-block;
    width:50%;
  }
  .nav_title{
    width:30%;
  }
  .nav_top_hamburger{
    display:inline-block;
    width:10%;
  }
  .nav_top_hamburger:hover{
    cursor:pointer;
  }
  .nav_link_bottom{
    position: absolute;
    width: 100%;
    background-color:rgb(156,0,0);
    margin-left:-10px;
    margin-top: 10px;
  }
}

@media (min-width: 599px) {
  .nav_search_icon, .nav_top_search_toggle{
    display:none;
  }
  .nav_link_bottom, .nav_links_search{
    display:none;
  }
  .nav_title{
    width:28%;
    margin-left:10px;
    font-size:26px;
  }
  .nav_top_search{
    display:inline-block;
    width:35%;
    background-color:maroon;
    padding-right:8px;
    text-align: right;
  }
  .nav_hamburger{
    display:none;
  }
  .nav_input{
    width: 68%;
    max-width:200px;
  }
  .nav_wide_links_container{
    display:inline-block;
    width: 30%;
    background-color: maroon;
    text-align: right;
  }
  .nav_wide_links{
    display: inline-block;
    background-color: maroon;
    padding: 1px;
    font-size: 79%;
    margin-right: 5px;
  }
}
